* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.15s;
}
.hex-code-display {
    color: white;
    font-size: 150px;
    font-family: 'Roboto', sans-serif;
    user-select: none
}
@media (max-width: 700px) {
    .hex-code-display {
        font-size: 100px;
    }
}
@media (max-width: 500px) {
    .hex-code-display {
        font-size: 60px;
    }
}
