* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hex-code-display {
    color: white;
    font-size: 150px;
    font-family: 'Fira Sans', sans-serif;;
}